.activites-menu{
    border: none;
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 4px;
    position: absolute;
    top: rem(70px);
    right: 0;
    margin: rem(20px);
    padding: rem(15px);
    font-size: rem(15px);
    color: gray;
    cursor: pointer;
    outline:none;
}

.fa-ellipsis-h{
  font-size: 10px;
}

.delete-board-btn{
  border: none;
  background-color: rgba(0, 0, 0, 0.116);
  border-radius: 4px;
  margin: rem(20px);
  padding: rem(15px);
  font-size: 0.9375rem;
  color: gray;
  cursor: pointer;
  outline: none;
  align-self: center;
}

.board-members-title{
  padding-right: rem(20px);
  color: white;
}

.user-avatar{
  border-radius: 50%;
}


.topics-container{
  max-height: calc(100vh - (50px + 108.81px));
  overflow-x: scroll;
}

.topic-list-container{
  max-height:100%;
  overflow-y: auto;
  background-color: $clr3;
  margin: 0 rem(20px);
  padding: rem(10px);
  width: rem(250px);
}


.member-avatar{
  margin: rem(5px);
}