.board-card{
    width: rem(200px);
    height: rem(150px);
    margin: rem(20px);
    border-radius: 5px;
    font-size: rem(20px);
    background-image: url(https://i.ibb.co/MBtxTcb/Screen-Shot-2019-12-09-at-16-32-27.png);
    background-size: cover;
    cursor: pointer;
    color: $clr2; 
    &:hover{
        transition: background-color 0.5s;
        background-color: rgba(255, 255, 255, 0.384);
        box-shadow:-7px -9px 51px -9px rgba(0,0,0,0.32);;
    }

}




.board-name{
    padding: rem(20px);
    color:white;
}


.board-title{
    color: #b2eaf0;

}

.add-board-btn{
    width: 12.5rem;
    height: 9.375rem;
    margin: 1.25rem;
    border-radius: 5px;
    font-size: 1.25rem;
    cursor: pointer;
    color: #b2eaf0;
    border: 2px dashed;
}

.add-board-input-container{
    position: fixed;
    border-radius: 2px;
    background-color: $clr1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: rem(30px);
    width: 30%;
}

.enter-board-title{
    border: none;
    font-size: rem(16px);
    font-family: $font1;
    border-radius: 5px;
    height: rem(10px);
    background-color: $clr3;
    font-weight: 800;
    outline: none;
    &:hover{
        background-color: rgba(255, 255, 255, 0.336);
    }
}


.create-board-btn{
    z-index:1;
    position:absolute;
    bottom:-50px;
    left:0px;
    border: none;
    background-color: $clr3;
    border-radius: 3px;
    color: darken($clr4, 20%);
    font-size: rem(14px);
    padding: rem(10px);
    cursor: pointer;
    outline: none;

}

.success{
    background-color: #5aac44;
    color: white;
    &:hover{
        background-color: lighten(#5aac44, 20%);  
    }
}