.hero-img{
   width: 45%;
}

header{
    background-color: #221b55;
}


.hero-title {
    color:#b2eaf0;
    text-shadow: 1px 1px 0px white;
    margin: rem(70px);
    font-size: rem(60px);
}

.hero-description{
    font-size: rem(25px);
    color: #b2eaf0;
    text-shadow: 1px 1px 0px white;
    margin-bottom: rem(50px);

}

.board-cards-container{
    background-color: #221b55;
}


.text-hero-container{
    width: 65%;
}

.border-gradient{
    background: linear-gradient(0deg, rgba(255,255,255,0) 5%, rgba(34,27,85,1) 66%);
    height: 10px;
}