.activities-menu{
    position: absolute;
    background-color: darken(white, 3%);
    right:0;
    max-height: calc(100vh - 50px);
    overflow: scroll;
    width: rem(350px);
    top: rem(50px);
    padding: rem(10px);
    z-index: 2;
    border-left: 1px solid $clr3;
    .fa-times{
        cursor: pointer;
        padding: rem(21px);
    }
}

.activites-menu-btn{
    color: white;
    height: 3.125rem;
    width: 13.75rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 5px;
    margin: 0.625rem;
    padding: 0.625rem;
    cursor: pointer;
    font-size: 0.9375rem;
    font-family: "Lato", sans-serif;
    outline: none;
    position: absolute;
    top: rem(80px);
    right: 0;
}


.activities-menu-title{
    width:100%;
    text-align: center;
    padding: rem(20px);
    font-size: rem(17px);
    font-weight: 700;
}

.activities-header{
    border-bottom: 1px solid darken($clr1, 10%);
}

.activity{
    padding: rem(5px) rem(10px);
    .time{
        font-size: rem(13px);
        color: darken($clr3, 30%);
    }
}

.side-nav-container{
    transition: all 0.3s ease-out;
}