.topic-list-container{
    background-color: darken($clr5, 10%);
    border-radius: 5px;
    margin: rem(5px);
    padding: rem(10px);
}

.list-group-item{
    background-color: $clr5;
    border-radius: rem(5px);
    margin: rem(5px);
    padding: rem(10px);
    border-bottom: 1px solid darken($clr5, 20%);

}