.topic-list-container{
    max-height:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $clr3;
    margin: 0 rem(20px);
    padding: rem(10px);
    width: rem(250px);
}

.topic-preview{
    max-height: 100vh;
    display:flex;
    flex-direction: column;
}

.list-group-item{
    background-color: $clr5;
    width: rem(220px);
    border-radius: rem(5px);
    margin: rem(5px);
    padding: rem(10px);
    border-bottom: 1px solid darken($clr5, 20%);
    cursor: pointer;
    &:hover{
        background-color: lighten($clr3, 2%);
    }
}

.add-task-btn{
    border-radius: 0 0 5px 5px;
    margin: 0 rem(20px);
    padding: rem(10px);
    width: rem(250px);
    border: none;
    background-color: $clr3;
    color: $clr2;
    font-size: rem(15px);
    font-family: $font1;
    outline:none;
    cursor:pointer;
}
.topic-header{
    background-color: $clr3;
    border-radius: 5px 5px 0 0 ;
    margin: 0 rem(20px);
    padding: rem(10px);
    width: rem(250px);
}

.topic-name{
    font-size: rem(20px);
    padding: rem(10px);
}

.delete-list-btn{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor:pointer;
}

.green-task-label{
    background-color: #61bd4f;
    color: #61bd4f;
    border-radius: 5px;
    margin: rem(2px);
    width: rem(20px);
    height: rem(10px);
}
.yellow-task-label{
    background-color: #f2d600;
    color: #f2d600;
    border-radius: 5px;
    margin: rem(2px);
    width: rem(20px);
    height: rem(10px);
}
.orange-task-label{
    background-color:#ff9f1a;
    color: #ff9f1a;
    border-radius: 5px;
    margin: rem(2px);
    width: rem(20px);
    height: rem(10px);
}
.red-task-label{
    background-color: #eb5a46;
    color: #eb5a46;
    border-radius: 5px;
    margin: rem(2px);
    width: rem(20px);
    height: rem(10px);
}
.purple-task-label{
    background-color: #c377e0;
    color: #c377e0;
    border-radius: 5px;
    margin: rem(2px);
    width: rem(20px);
    height: rem(10px);
}
.blue-task-label{
    background-color:#0079bf;
    color: #0079bf;
    border-radius: 5px;
    margin: rem(2px);
    width: rem(20px);
    height: rem(10px);
}