.edit-modal{
    z-index: 3;
    border-radius: 2px;
    background-color: $clr1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: rem(30px);
    width: 50%;
}

.modal-mask{
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.transparent-modal-mask{
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.edit-form{
    input{
        border: none;
    }
}

.task-title{
    font-size: rem(22px);
    color: $clr2;
    padding:0 0 0 rem(15px);
    outline: none;
    font-weight: 500;
    background-color: $clr1;
    
}

.description-title, .image-title{
    color: $clr2;
    padding-left: rem(12px);
    font-weight: 600;
    font-size: rem(17px);
}

.task-description{
    background-color: darken($clr1, 5%);
    border: none;
    border-radius: 3px;
    margin:rem(10px) 0 rem(10px) rem(25px);
    padding: rem(10px);
    font-size: rem(13px);
    color: $clr2;
    width: 80%;
    height: rem(100px);
}

.in-list{
    padding: rem(5px) 0 rem(30px) rem(29px);
    color: #6c6c6c;
    font-size: rem(15px);
}
.fa-align-left, .fa-sticky-note, .fa-paperclip{
    align-self:center;
    color: $clr2;
}

.fa-sticky-note{
    padding-top: rem(7px);
}

.due-date, .img-attachment, .delete-task, .add-labels-btn{
    background-color: darken($clr1, 5%);
    border-radius: 5px;
    padding: rem(5px);
    width: 100%;
    cursor: pointer;
    margin: rem(5px);
}

.fa-clock, .fa-image, .fa-trash-alt, .fa-tag{
    padding: rem(5px);
}

.save-task-btn{
    border: none;
    background-color: #5aac44;
    color: white;
    font-size: rem(15px);
    border-radius: 5px;
    padding: rem(10px) rem(30px);

    cursor: pointer;
    margin: auto;


}

.date-picker{
    position: absolute;
}

.due-date-title{
    padding-left: rem(29px);
    text-transform: uppercase;
    color: darken($clr4, 15%);
    font-size: rem(13px);
}

.date-picker-preview{
    margin: rem(10px) rem(25px);
}

.img-uploader {
    position: absolute;
    background-color: white;
    padding: rem(10px);
    border-radius: 5px;
    border: 1px solid darken(#fff, 15%);
    div{
        font-size: rem(14px);
        text-align: center;
        padding: rem(10px);
        border-bottom: 1px solid darken($clr1, 10%);
    }
}
.rotated{
    transform: rotate(90deg);
    overflow: scroll;
}

.main-edit-container{
    width:70%;
}
.rotate-img-btn{
    border: 1px solid darken($clr3, 10%);
    cursor: pointer;
    width:50%;
    text-align:center;
    padding: rem(5px);
    margin: auto;
}

