@import url('https://fonts.googleapis.com/css?family=Baskervville|Open+Sans+Condensed:300&display=swap');

* {
    box-sizing: border-box;
}

html {
    background-color:#f8fef5;
    font-family: $font1;
    color: $clr2;
}

body {
    margin: 0;
}

img {
    width: 100%;
}
a{
    text-decoration: none;
    color: darken($clr2, 10%);
}

input{
    padding: rem(20px);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {

    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #80808054;
    border-radius: 10px;
  }

