@media (max-width: $break-wide){
    .hero-img{
        width:100%;
    }
    .hero-container{
        flex-direction: column;
    }
    .labels-due-date-container{
        flex-direction: column;
    }
    .labels-container-display{
        flex-wrap: wrap;
    }
    .text-hero-container{
        width: 100%;
    }
}

@media (max-width: $break-normal){
    .edit-container{
        flex-direction: column;
    }
    .edit-modal{
        width: 80%;
    }
   .members-container{
       display:none;
   }
   .username-nav{
       display:none;
   }
   .activites-menu-btn{
        width: 80px;
        height: 80px;
        background-color: white;
   }
}

@media (max-width: $break-iphone5){
    .task-title{
        overflow: hidden;
    }
    .date-picker-preview{
        margin: rem(5px) 0 rem(5px) 0;
    }
}