@media (max-width: $break-wide){
    .hero-img{
        width:100%;
    }
    .hero-container{
        flex-direction: column;
    }
    .labels-due-date-container{
        flex-direction: column;
    }
    .labels-container-display{
        flex-wrap: wrap;
    }
}

@media (max-width: $break-normal){
    .edit-container{
        flex-direction: column;
    }
    .edit-modal{
        width: 80%;
    }
    .avatars-container{
        z-index: 3;
        display:none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 0.625rem;
        border-radius: 5px;
        border: 1px solid #d9d9d9;
    }
    .board-members-title{
        border: none;
        background-color: rgba(0, 0, 0, 0.116);
        border-radius: 4px;
        margin: 1.25rem;
        padding: 0.9375rem;
        font-size: 0.9375rem;
        color: gray;
        cursor: pointer;
        outline: none;
        -ms-flex-item-align: center;
        align-self: center;
    }
}

@media (max-width: $break-iphone5){
    .task-title{
        overflow: hidden;
    }
    .date-picker-preview{
        margin: rem(5px) 0 rem(5px) 0;
    }
}