
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

// FONTS
$font1: 'Lato', sans-serif;
$font2: 'Baskervville', serif;
$font3: 'Gilda Display', serif;
$font4: 'Kaushan Script', cursive;



// COLOR PALETTE

$clr1: #1c84ee;
$clr2: #31434f;
$clr3: #ebecf0;
$clr4: #bec6d7;
$clr5: #fff;

// LAYOUT BREAKPOINTS

$break-narrow: 740px;
$break-normal: 960px;
$break-wide: 1280px;


